/* 複寫bootstrap元素 */
.active:focus{
    color: #f44a40!important;
    font-weight: 700!important;
}
body{
    background-color: #f5f5f5!important;
}
.img-container {
    text-align: center!important;
    display: block!important;
    justify-content: center!important;
    align-items: center!important;
    /* margin-left: auto;
    margin-right: auto  */
  }
@media (max-width:1000px) {
    .user_profile{
        flex: 1!important;
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        padding-left: 15px!important;
        overflow: hidden!important;
        text-align: center;
        margin-top: 20px;
    }
}
.img-container > img{
    height: 60px!important;
    width: 60px!important;
}
.user_profile{
    flex: 1!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    padding-left: 15px!important;
    overflow: hidden!important;
}
.username{
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    min-height: 1rem!important;
    font-weight: 600!important;
    margin-bottom: 5px!important;;
    color: #333!important;
}
.edit_userprofile{
    color: #888!important;
    text-transform: capitalize!important;
    text-decoration: none!important;
}
.tab_profile{
    border-bottom: 0.0625rem solid #efefef;
}
.exchange-btn{
    border-radius: 20px!important;
}
.file {
    visibility: hidden;
    position: absolute;
}
.pet_file {
    visibility: hidden;
    position: absolute;
}
.pet_card{
    cursor: pointer!important;
}
.pet_card_size{
    height: 300px!important;
    width: 250px!important;
}
.pet_card_fontsize{
    font-weight: 600!important;
    font-size: 22px!important;
}
.pet_card_icon{
    width: 35px!important;
    height: 35px!important;
}
.pet_card_h3_underline{
    border-top: 3px solid #ffc5c2!important;
    width: 60px!important;
}
.modal-backdrop {
    z-index: 0;
  }

.pet_card_h3_underline30{
    border-top: 3px solid #ffc5c2!important;
    width: 40px!important;
}

.collect_content{
    background-color:#F8F8FF!important;
}

.pet_col_underline70{
    border-top: 1px solid #ffc5c2!important;
    width: 70px!important;
}